[submodule "vcmi_gym/envs/v0/vcmi"]
	path = vcmi_gym/envs/v0/vcmi
	url = git@github.com:smanolloff/vcmi.git
[submodule "rl/muzero"]
	path = rl/muzero
	url = git@github.com:smanolloff/muzero-general.git
[submodule "rl/algos/lightzero"]
	path = rl/algos/lightzero
	url = git@github.com:opendilab/LightZero.git
[submodule "vcmi"]
	path = vcmi
	url = git@github.com:smanolloff/vcmi.git
[submodule "vcmi_gym/connectors/pybind11"]
	path = vcmi_gym/connectors/pybind11
	url = git@github.com:pybind/pybind11.git
