!vcmi-gym.sublime-project
.venv
build
rel
/data
/wandb
*.egg-info
CMakeUserPresets.json
conan-generated/
test.out
*.pth
*.pt
*.so
*.dylib
*.vmap.*
*.log
*.onnx
*.sqlite3
*.sqlite3-journal
.watchdog
tmp/
rl/models/
rl/stats/
.cache
misc/vastai/.env
export/
