#
# To install pinned dependencies:
#
#   pip install -r requirements.txt
#
# To bump versions:
#
#   pip-compile requirements.in -o requirements.txt
#

#
# Use `make pip-compile` to install appropriate torch wheels.
#
# Alternatively, use the commands below:
# - CPU:
#   pip-compile requirements.in -o requirements-cpu.txt \
#       --index-url https://pypi.org/simple \
#       --extra-index-url https://download.pytorch.org/whl/cpu \
#       --find-links https://data.pyg.org/whl/torch-2.11.0+cpu.html
#
# - GPU (CUDA 12.8):
#   pip-compile requirements.in -o requirements-gpu.txt \
#       --index-url https://pypi.org/simple \
#       --extra-index-url https://download.pytorch.org/whl/cu128 \
#       --find-links https://data.pyg.org/whl/torch-2.11.0+cu128.html
#
# - GPU (CUDA 13.2):
#   pip-compile requirements.in -o requirements-gpu.txt \
#       --index-url https://pypi.org/simple \
#       --extra-index-url https://download.pytorch.org/whl/cu132 \
#       --find-links https://data.pyg.org/whl/torch-2.12.0+cu132.html
#

torch
torch_geometric
torch_scatter
wandb
#vastai
vastai_sdk>=0.5.1
gymnasium>=1.3.0
pygit2
boto3
ipdb
requests
cmake<4
conan>1

#
# export only
#

#onnx
#onnxscript
