#
# To install pinned dependencies:
#
#   pip install -r requirements.txt
#
# To bump versions:
#
#   pip-compile requirements.in -o requirements.txt
#

# *** Regenerating the requirements lockfile ***
#
# To do this, you must first ensure `torch` is installed:
# - On VastAI instances, torch (CUDA) is pre-installed.
# - On dev machines, torch (CPU) must be installed manually: `pip install torch==2.12.1`
#
# Once torch is available, the lockfile can be recreated with:
#
#   make pip-compile
#

#torch  # installed separately (NOT part of requirements.in)

torch_geometric
torch_scatter
wandb
vastai_sdk>=0.5.1
gymnasium>=1.3.0
pygit2
boto3
ipdb
requests
cmake<4
conan>1

#
# export only
#

#onnx
#onnxscript
